.main-li {
  list-style-type: none;
  font-style: normal;
}

.main-li .caption {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: inherit;
}
